<appSettings>
  <add key="CMSHashStringSalt" value=""/>

  <add key="CMSAzureAccountName" value=""/>
  <add key="CMSAzureSharedKey" value=""/>
  <add key="CMSAzureBlobEndPoint" value=""/>

  <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />

  <add key="cache:query-result:duration:seconds" value="300" />
  <add key="cache:sitemap-result:duration:minutes" value="5" />
  <add key="cache:output:is-enabled" value="true" />

  <add key="azure-storage:is-enabled" value="true"/>
  <add key="azure-storage:container-name" value=""/>
  
  <add key="management:application:url" value="" />

  <add key="logging:serilog:log-level" value="Debug" />
</appSettings>
