<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Layouts/_Head" />

    @RenderSection("styles", required: false)
</head>
<body>
    <partial name="Layouts/_BodyStart" />

    <vc:header-nav></vc:header-nav>

    @RenderBody()

    <vc:footer-nav></vc:footer-nav>

    <partial name="Assets/_Scripts" />
    <partial name="Layouts/_BodyEnd" />

    @RenderSection("scripts", required: false)
</body>
</html>