
<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("Layouts/_Head"); }

    @RenderSection("styles", required: false)
</head>
<body>
    @{
        Html.RenderPartial("Layouts/_BodyStart");
        Html.RenderAction("Primary", "Navigation");
    }

    @RenderBody()

    @{
        Html.RenderAction("Footer", "Navigation");
        Html.RenderPartial("Assets/_Scripts");
        Html.RenderPartial("Layouts/_BodyEnd");
    }

    @RenderSection("scripts", required: false)
</body>
</html>